body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.single-dock-container{
  padding-top: 20px;
  margin: 10px;
  border: 1px solid #eae3e3;
  padding-bottom: 20px;
}

.post-content{
	min-height:200px;
}

.minimized-content{
	height:200px;
	overflow:hidden;
}

.show-less-content{
	display:none;
}

.content-toggle{
	cursor: pointer;
}

.feed-name{
	background-color: black;
	color:#9d9d9d;
  	padding-top: 22px;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom: 10px;
	font-weight:bold;
}